* {
  border: 2px solid black;
}

body {
    background-color: lightslategray;
}

/* Media Queries 

Tablets
@media screen and(min-width: 992px) {
    header {
      background: #772014;
    }
  }
  
Large smartphones - navbar changes color
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
Small smartphones - image placeholders change color
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }

  When hovering over the box has a glowing effect
  Check out group mini project for advanced css for flexbox hints 

*/